In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_excel("Data_Train.xlsx")

In [3]:
data.head()

,Title,Author,Edition,Reviews,Ratings,Synopsis,Genre,BookCategory,Price
0,The Prisoner's Gold (The Hunters 3),Chris Kuzneski,"Paperback,– 10 Mar 2016",4.0 out of 5 stars,8 customer reviews,THE HUNTERS return in their third brilliant no...,Action & Adventure (Books),Action & Adventure,220.00
1,Guru Dutt: A Tragedy in Three Acts,Arun Khopkar,"Paperback,– 7 Nov 2012",3.9 out of 5 stars,14 customer reviews,A layered portrait of a troubled genius for wh...,Cinema & Broadcast (Books),"Biographies, Diaries & True Accounts",202.93
2,Leviathan (Penguin Classics),Thomas Hobbes,"Paperback,– 25 Feb 1982",4.8 out of 5 stars,6 customer reviews,"""During the time men live without a common Pow...",International Relations,Humour,299.00
3,A Pocket Full of Rye (Miss Marple),Agatha Christie,"Paperback,– 5 Oct 2017",4.1 out of 5 stars,13 customer reviews,A handful of grain is found in the pocket of a...,Contemporary Fiction (Books),"Crime, Thriller & Mystery",180.00
4,LIFE 70 Years of Extraordinary Photography,Editors of Life,"Hardcover,– 10 Oct 2006",5.0 out of 5 stars,1 customer review,"For seven decades, ""Life"" has been thrilling t...",Photography Textbooks,"Arts, Film & Photography",965.62

In [4]:
duplicate_rows = data[data.duplicated()].head()

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6237 entries, 0 to 6236
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         6237 non-null   object
 1   Author        6237 non-null   object
 2   Edition       6237 non-null   object
 3   Reviews       6237 non-null   object
 4   Ratings       6237 non-null   object
 5   Synopsis      6237 non-null   object
 6   Genre         6237 non-null   object
 7   BookCategory  6237 non-null   object
 8   Price         6237 non-null   float64
dtypes: float64(1), object(8)
memory usage: 438.7+ KB

In [6]:
data['Title'].value_counts()

Casino Royale: James Bond 007 (Vintage)                       4
A Game of Thrones (A Song of Ice and Fire)                    4
Sidemen: The Book: The book you've been waiting for           3
How to Write Movie in 21 Days                                 3
The Andromeda Strain                                          3
                                                             ..
Tales of Arjuna (Amar Chitra Katha)                           1
The Midnight Rose                                             1
They Call Me Coach                                            1
Thea Stilton Graphic Novels #2: Revenge of the Lizard Club    1
The First Order (Sam Capra)                                   1
Name: Title, Length: 5568, dtype: int64

In [7]:
# Split the 'Edition' column into 'Date' and 'Format
data[['Format', 'Date']] = data['Edition'].str.split('–', expand=True)

In [8]:
data.head()

,Title,Author,Edition,Reviews,Ratings,Synopsis,Genre,BookCategory,Price,Format,Date
0,The Prisoner's Gold (The Hunters 3),Chris Kuzneski,"Paperback,– 10 Mar 2016",4.0 out of 5 stars,8 customer reviews,THE HUNTERS return in their third brilliant no...,Action & Adventure (Books),Action & Adventure,220.00,"Paperback,",10 Mar 2016
1,Guru Dutt: A Tragedy in Three Acts,Arun Khopkar,"Paperback,– 7 Nov 2012",3.9 out of 5 stars,14 customer reviews,A layered portrait of a troubled genius for wh...,Cinema & Broadcast (Books),"Biographies, Diaries & True Accounts",202.93,"Paperback,",7 Nov 2012
2,Leviathan (Penguin Classics),Thomas Hobbes,"Paperback,– 25 Feb 1982",4.8 out of 5 stars,6 customer reviews,"""During the time men live without a common Pow...",International Relations,Humour,299.00,"Paperback,",25 Feb 1982
3,A Pocket Full of Rye (Miss Marple),Agatha Christie,"Paperback,– 5 Oct 2017",4.1 out of 5 stars,13 customer reviews,A handful of grain is found in the pocket of a...,Contemporary Fiction (Books),"Crime, Thriller & Mystery",180.00,"Paperback,",5 Oct 2017
4,LIFE 70 Years of Extraordinary Photography,Editors of Life,"Hardcover,– 10 Oct 2006",5.0 out of 5 stars,1 customer review,"For seven decades, ""Life"" has been thrilling t...",Photography Textbooks,"Arts, Film & Photography",965.62,"Hardcover,",10 Oct 2006

In [9]:
# Extract numerical values from 'Reviews' and 'Ratings' columns
data['Reviews'] = data['Reviews'].str.extract('(\d+\.\d+)').astype(float)

# Convert 'Ratings' column to strings
data['Ratings'] = data['Ratings'].astype(str)

# Extract numerical values from 'Ratings' column using regular expression
data['Ratings'] = data['Ratings'].str.extract('(\d+)')

# Convert 'Ratings' column to float
data['Ratings'] = data['Ratings'].astype(float)

In [10]:
data.head()

,Title,Author,Edition,Reviews,Ratings,Synopsis,Genre,BookCategory,Price,Format,Date
0,The Prisoner's Gold (The Hunters 3),Chris Kuzneski,"Paperback,– 10 Mar 2016",4.0,8.0,THE HUNTERS return in their third brilliant no...,Action & Adventure (Books),Action & Adventure,220.00,"Paperback,",10 Mar 2016
1,Guru Dutt: A Tragedy in Three Acts,Arun Khopkar,"Paperback,– 7 Nov 2012",3.9,14.0,A layered portrait of a troubled genius for wh...,Cinema & Broadcast (Books),"Biographies, Diaries & True Accounts",202.93,"Paperback,",7 Nov 2012
2,Leviathan (Penguin Classics),Thomas Hobbes,"Paperback,– 25 Feb 1982",4.8,6.0,"""During the time men live without a common Pow...",International Relations,Humour,299.00,"Paperback,",25 Feb 1982
3,A Pocket Full of Rye (Miss Marple),Agatha Christie,"Paperback,– 5 Oct 2017",4.1,13.0,A handful of grain is found in the pocket of a...,Contemporary Fiction (Books),"Crime, Thriller & Mystery",180.00,"Paperback,",5 Oct 2017
4,LIFE 70 Years of Extraordinary Photography,Editors of Life,"Hardcover,– 10 Oct 2006",5.0,1.0,"For seven decades, ""Life"" has been thrilling t...",Photography Textbooks,"Arts, Film & Photography",965.62,"Hardcover,",10 Oct 2006

In [11]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [12]:
le.fit(data['BookCategory'])

LabelEncoder()

In [13]:
le.classes_

array(['Action & Adventure', 'Arts, Film & Photography',
       'Biographies, Diaries & True Accounts', 'Comics & Mangas',
       'Computing, Internet & Digital Media', 'Crime, Thriller & Mystery',
       'Humour', 'Language, Linguistics & Writing', 'Politics', 'Romance',
       'Sports'], dtype=object)

In [14]:
data['BookCategory'] = le.transform(data['BookCategory'])

In [15]:
data.head(10)

,Title,Author,Edition,Reviews,Ratings,Synopsis,Genre,BookCategory,Price,Format,Date
0,The Prisoner's Gold (The Hunters 3),Chris Kuzneski,"Paperback,– 10 Mar 2016",4.0,8.0,THE HUNTERS return in their third brilliant no...,Action & Adventure (Books),0,220.00,"Paperback,",10 Mar 2016
1,Guru Dutt: A Tragedy in Three Acts,Arun Khopkar,"Paperback,– 7 Nov 2012",3.9,14.0,A layered portrait of a troubled genius for wh...,Cinema & Broadcast (Books),2,202.93,"Paperback,",7 Nov 2012
2,Leviathan (Penguin Classics),Thomas Hobbes,"Paperback,– 25 Feb 1982",4.8,6.0,"""During the time men live without a common Pow...",International Relations,6,299.00,"Paperback,",25 Feb 1982
3,A Pocket Full of Rye (Miss Marple),Agatha Christie,"Paperback,– 5 Oct 2017",4.1,13.0,A handful of grain is found in the pocket of a...,Contemporary Fiction (Books),5,180.00,"Paperback,",5 Oct 2017
4,LIFE 70 Years of Extraordinary Photography,Editors of Life,"Hardcover,– 10 Oct 2006",5.0,1.0,"For seven decades, ""Life"" has been thrilling t...",Photography Textbooks,1,965.62,"Hardcover,",10 Oct 2006
5,ChiRunning: A Revolutionary Approach to Effort...,Danny Dreyer,"Paperback,– 5 May 2009",4.5,8.0,The revised edition of the bestselling ChiRunn...,Healthy Living & Wellness (Books),10,900.00,"Paperback,",5 May 2009
6,Death on the Nile (Poirot),Agatha Christie,"Paperback,– 5 Oct 2017",4.4,72.0,Agatha Christie’s most exotic murder mystery\n...,"Crime, Thriller & Mystery (Books)",5,224.00,"Paperback,",5 Oct 2017
7,Yoga Your Home Practice Companion: A Complete ...,Sivananda Yoga Vedanta Centre,"Hardcover,– Import, 1 Mar 2018",4.7,16.0,"Achieve a healthy body, mental alertness, and ...",Sports Training & Coaching (Books),10,836.00,"Hardcover,","Import, 1 Mar 2018"
8,Karmayogi: A Biography of E. Sreedharan,M S Ashokan,"Paperback,– 15 Dec 2015",4.2,111.0,Karmayogi is the dramatic and inspiring story ...,Biographies & Autobiographies (Books),2,130.00,"Paperback,",15 Dec 2015
9,"The Iron King (The Accursed Kings, Book 1)",Maurice Druon,"Paperback,– 26 Mar 2013",4.0,1.0,‘This is the original game of thrones’ George ...,Action & Adventure (Books),0,695.00,"Paperback,",26 Mar 2013

In [16]:
le.fit(data['Genre'])

LabelEncoder()

In [17]:
data['Genre_cat'] = le.transform(data['Genre'])

In [18]:
data.head()

,Title,Author,Edition,Reviews,Ratings,Synopsis,Genre,BookCategory,Price,Format,Date,Genre_cat
0,The Prisoner's Gold (The Hunters 3),Chris Kuzneski,"Paperback,– 10 Mar 2016",4.0,8.0,THE HUNTERS return in their third brilliant no...,Action & Adventure (Books),0,220.00,"Paperback,",10 Mar 2016,1
1,Guru Dutt: A Tragedy in Three Acts,Arun Khopkar,"Paperback,– 7 Nov 2012",3.9,14.0,A layered portrait of a troubled genius for wh...,Cinema & Broadcast (Books),2,202.93,"Paperback,",7 Nov 2012,74
2,Leviathan (Penguin Classics),Thomas Hobbes,"Paperback,– 25 Feb 1982",4.8,6.0,"""During the time men live without a common Pow...",International Relations,6,299.00,"Paperback,",25 Feb 1982,193
3,A Pocket Full of Rye (Miss Marple),Agatha Christie,"Paperback,– 5 Oct 2017",4.1,13.0,A handful of grain is found in the pocket of a...,Contemporary Fiction (Books),5,180.00,"Paperback,",5 Oct 2017,92
4,LIFE 70 Years of Extraordinary Photography,Editors of Life,"Hardcover,– 10 Oct 2006",5.0,1.0,"For seven decades, ""Life"" has been thrilling t...",Photography Textbooks,1,965.62,"Hardcover,",10 Oct 2006,253

In [19]:
data['Date'] = pd.to_datetime(data['Date'],errors='coerce')

In [20]:
data.head()

,Title,Author,Edition,Reviews,Ratings,Synopsis,Genre,BookCategory,Price,Format,Date,Genre_cat
0,The Prisoner's Gold (The Hunters 3),Chris Kuzneski,"Paperback,– 10 Mar 2016",4.0,8.0,THE HUNTERS return in their third brilliant no...,Action & Adventure (Books),0,220.00,"Paperback,",2016-03-10,1
1,Guru Dutt: A Tragedy in Three Acts,Arun Khopkar,"Paperback,– 7 Nov 2012",3.9,14.0,A layered portrait of a troubled genius for wh...,Cinema & Broadcast (Books),2,202.93,"Paperback,",2012-11-07,74
2,Leviathan (Penguin Classics),Thomas Hobbes,"Paperback,– 25 Feb 1982",4.8,6.0,"""During the time men live without a common Pow...",International Relations,6,299.00,"Paperback,",1982-02-25,193
3,A Pocket Full of Rye (Miss Marple),Agatha Christie,"Paperback,– 5 Oct 2017",4.1,13.0,A handful of grain is found in the pocket of a...,Contemporary Fiction (Books),5,180.00,"Paperback,",2017-10-05,92
4,LIFE 70 Years of Extraordinary Photography,Editors of Life,"Hardcover,– 10 Oct 2006",5.0,1.0,"For seven decades, ""Life"" has been thrilling t...",Photography Textbooks,1,965.62,"Hardcover,",2006-10-10,253

In [21]:
data['Date'].isnull().sum()

786

In [22]:
data['Date'].fillna(method='ffill',inplace=True)

In [23]:
# Convert 'Date' to datetime and extract year, month, or day 
data['Year'] = data['Date'].dt.year
data['Month'] = data['Date'].dt.month
data['Day'] = data['Date'].dt.day

In [24]:
data.head()

,Title,Author,Edition,Reviews,Ratings,Synopsis,Genre,BookCategory,Price,Format,Date,Genre_cat,Year,Month,Day
0,The Prisoner's Gold (The Hunters 3),Chris Kuzneski,"Paperback,– 10 Mar 2016",4.0,8.0,THE HUNTERS return in their third brilliant no...,Action & Adventure (Books),0,220.00,"Paperback,",2016-03-10,1,2016,3,10
1,Guru Dutt: A Tragedy in Three Acts,Arun Khopkar,"Paperback,– 7 Nov 2012",3.9,14.0,A layered portrait of a troubled genius for wh...,Cinema & Broadcast (Books),2,202.93,"Paperback,",2012-11-07,74,2012,11,7
2,Leviathan (Penguin Classics),Thomas Hobbes,"Paperback,– 25 Feb 1982",4.8,6.0,"""During the time men live without a common Pow...",International Relations,6,299.00,"Paperback,",1982-02-25,193,1982,2,25
3,A Pocket Full of Rye (Miss Marple),Agatha Christie,"Paperback,– 5 Oct 2017",4.1,13.0,A handful of grain is found in the pocket of a...,Contemporary Fiction (Books),5,180.00,"Paperback,",2017-10-05,92,2017,10,5
4,LIFE 70 Years of Extraordinary Photography,Editors of Life,"Hardcover,– 10 Oct 2006",5.0,1.0,"For seven decades, ""Life"" has been thrilling t...",Photography Textbooks,1,965.62,"Hardcover,",2006-10-10,253,2006,10,10

In [25]:
df_final = data[['Reviews','Year','Month','Day','BookCategory','Genre_cat']]

In [26]:
df_final.head()

   Reviews  Year  Month  Day  BookCategory  Genre_cat
0      4.0  2016      3   10             0          1
1      3.9  2012     11    7             2         74
2      4.8  1982      2   25             6        193
3      4.1  2017     10    5             5         92
4      5.0  2006     10   10             1        253

In [27]:
# Define X (features) and y (target)
x = df_final[['Reviews','Year','Month','Day','BookCategory','Genre_cat']]
y = data['Price']

In [28]:
from sklearn.model_selection import train_test_split

# Split the data into training and testing sets (80% train, 20% test)
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [29]:
from sklearn.feature_selection import RFE
from sklearn.ensemble import RandomForestRegressor

# Initialize Random Forest Regressor
model = RandomForestRegressor()

# # Perform RFE for feature selection
# num_features_to_select = 10  # Set the number of features to select
# rfe = RFE(estimator=model, n_features_to_select=num_features_to_select)
# rfe.fit(X, y)

# # Get selected features
# X_selected = rfe.transform(X)

In [30]:
model.fit(X_train,y_train)

RandomForestRegressor()

In [31]:
y_predicted = model.predict(X_test)

In [32]:
y_predicted

array([622.6613    , 219.86      , 466.8272    , ..., 406.46135   ,
       520.9301    , 229.56666667])

In [33]:
from sklearn.metrics import mean_squared_error

In [34]:
mse= mean_squared_error(y_test, y_predicted)

In [35]:
mse

408852.7475207766

## EDA and pre processing of test data

In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

data_test = pd.read_excel("Data_Test.xlsx")

# Split the 'Edition' column into 'Date' and 'Format
data_test[['Format', 'Date']] = data_test['Edition'].str.split('–', expand=True)

# Extract numerical values from 'Reviews' and 'Ratings' columns
data_test['Reviews'] = data_test['Reviews'].str.extract('(\d+\.\d+)').astype(float)

# Convert 'Ratings' column to strings
data_test['Ratings'] = data_test['Ratings'].astype(str)

# Extract numerical values from 'Ratings' column using regular expression
data_test['Ratings'] = data_test['Ratings'].str.extract('(\d+)')

# Convert 'Ratings' column to float
data_test['Ratings'] = data_test['Ratings'].astype(float)

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit(data_test['BookCategory'])
le.classes_
data_test['BookCategory'] = le.transform(data_test['BookCategory'])
le.fit(data_test['Genre'])
data_test['Genre_cat'] = le.transform(data_test['Genre'])

data_test['Date'] = pd.to_datetime(data_test['Date'],errors='coerce')
data_test['Date'].fillna(method='ffill',inplace=True)

# Convert 'Date' to datetime and extract year, month, or day 
data_test['Year'] = data_test['Date'].dt.year
data_test['Month'] = data_test['Date'].dt.month
data_test['Day'] = data_test['Date'].dt.day

In [37]:
data_test.head()

,Title,Author,Edition,Reviews,Ratings,Synopsis,Genre,BookCategory,Format,Date,Genre_cat,Year,Month,Day
0,The Complete Sherlock Holmes: 2 Boxes sets,Sir Arthur Conan Doyle,"Mass Market Paperback,– 1 Oct 1986",4.4,960.0,A collection of entire body of work of the She...,Short Stories (Books),5,"Mass Market Paperback,",1986-10-01,189,1986,10,1
1,Learn Docker - Fundamentals of Docker 18.x: Ev...,Gabriel N. Schenker,"Paperback,– Import, 26 Apr 2018",5.0,1.0,Enhance your software deployment workflow usin...,Operating Systems Textbooks,4,"Paperback,",1986-10-01,163,1986,10,1
2,Big Girl,Danielle Steel,"Paperback,– 17 Mar 2011",5.0,4.0,"'Watch out, world. Here I come!'\nFor Victoria...",Romance (Books),9,"Paperback,",2011-03-17,185,2011,3,17
3,Think Python: How to Think Like a Computer Sci...,Allen B. Downey,"Paperback,– 2016",4.1,11.0,"If you want to learn how to program, working w...",Programming & Software Development (Books),4,"Paperback,",2016-01-01,174,2016,1,1
4,Oxford Word Skills: Advanced - Idioms & Phrasa...,Redman Gairns,"Paperback,– 26 Dec 2011",4.4,9.0,"Learn and practise the verbs, prepositions and...",Linguistics (Books),7,"Paperback,",2011-12-26,143,2011,12,26

In [38]:
df_final_test = data_test[['Reviews','Year','Month','Day','BookCategory','Genre_cat']]

In [39]:
df_final_test.head()

   Reviews  Year  Month  Day  BookCategory  Genre_cat
0      4.4  1986     10    1             5        189
1      5.0  1986     10    1             4        163
2      5.0  2011      3   17             9        185
3      4.1  2016      1    1             4        174
4      4.4  2011     12   26             7        143

In [40]:
Y_PRED = model.predict(df_final_test)

In [41]:
y_main= pd.read_excel("Sample_Submission.xlsx")

In [42]:
from sklearn.metrics import mean_squared_error

In [43]:
mse= mean_squared_error(y_main, Y_PRED)

In [44]:
mse

415650.55878234183

In [45]:
output = pd.DataFrame({'Price':Y_PRED})

In [46]:
output.to_csv('submission.csv',header=True)

In [47]:
from sklearn.model_selection import GridSearchCV

# Define the parameter grid
param_grid = {
    'n_estimators': [50, 100, 150],
    'max_depth': [10, 20, 30],
    'min_samples_split': [2, 5, 10]
}

# Initialize the GridSearchCV
grid_search = GridSearchCV(estimator=RandomForestRegressor(random_state=42),
                           param_grid=param_grid,
                           cv=5,
                           n_jobs=-1,
                           verbose=2)

# Perform the grid search
grid_search.fit(X_train, y_train)

# Get the best parameters
best_params = grid_search.best_params_
print("Best Hyperparameters:", best_params)

Fitting 5 folds for each of 27 candidates, totalling 135 fits
Best Hyperparameters: {'max_depth': 10, 'min_samples_split': 10, 'n_estimators': 150}

In [48]:
from sklearn.ensemble import VotingRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.preprocessing import StandardScaler

# Initialize individual models
model1 = RandomForestRegressor(n_estimators=100, max_depth=10, random_state=42)
model2 = GradientBoostingRegressor(n_estimators=100, max_depth=5, random_state=42)

# Create a voting regressor
voting_regressor = VotingRegressor(estimators=[('rf', model1), ('gb', model2)])

# Train the voting regressor
voting_regressor.fit(X_train, y_train)

# Make predictions
predictions = voting_regressor.predict(X_test)

# Calculate Mean Squared Error and R-squared score
mse = mean_squared_error(y_test, predictions)
r2 = r2_score(y_test, predictions)

print("Ensemble Mean Squared Error:", mse)
print("Ensemble R^2 Score:", r2)

Ensemble Mean Squared Error: 380803.36796366517
Ensemble R^2 Score: 0.11518837435974405

In [49]:
y_predictions = voting_regressor.predict(df_final_test)

In [50]:
# Calculate Mean Squared Error and R-squared score
mse = mean_squared_error(y_main, y_predictions)
r2 = r2_score(y_main, y_predictions)

print("Ensemble Mean Squared Error:", mse)
print("Ensemble R^2 Score:", r2)

Ensemble Mean Squared Error: 304331.494997143
Ensemble R^2 Score: -1413.1281382764003

In [51]:
output = pd.DataFrame({'Price':y_predictions})

In [52]:
output.to_csv('final_submission.csv',header=True)

In [53]:
voting_regressor.score(X_train, y_train)

0.598300418748275

In [54]:
voting_regressor.score(df_final_test, y_predictions)

1.0

In [55]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score

# Initialize the Random Forest Regressor
random_forest = RandomForestRegressor(n_estimators=100, random_state=42)

# Train the model
random_forest.fit(X_train, y_train)

# Make predictions on the test set
predictions = random_forest.predict(X_test)

# Calculate Mean Squared Error
mse = mean_squared_error(y_test, predictions)
print("Random Forest Mean Squared Error:", mse)

# Calculate R^2 Score
r2 = r2_score(y_test, predictions)
print("Random Forest R^2 Score:", r2)

Random Forest Mean Squared Error: 404573.5192884868
Random Forest R^2 Score: 0.05995749142953544

In [71]:
y_main= pd.read_excel("Sample_Submission.xlsx")

y_predictions = random_forest.predict(df_final_test)
# Calculate Mean Squared Error
mse = mean_squared_error(y_main, y_predictions)
print("Random Forest Mean Squared Error:", mse)

# Calculate R^2 Score
r2 = r2_score(y_main, y_predictions)
print("Random Forest R^2 Score:", r2)

Random Forest Mean Squared Error: 404564.07850049995
Random Forest R^2 Score: -1878.8759134304855

In [72]:
y_predictions=pipeline.predict(df_final_test)

In [73]:
# Calculate Mean Squared Error and R-squared score
mse = mean_squared_error(y_main, y_predictions)
r2 = r2_score(y_main, y_predictions)

print("Ensemble Mean Squared Error:", mse)
print("Ensemble R^2 Score:", r2)

Ensemble Mean Squared Error: 425622.77309763985
Ensemble R^2 Score: -1976.7287254947257

In [74]:
#score
print("for test set",voting_regressor.score(df_final_test, y_predictions))
print("for train set",voting_regressor.score(X_train, y_train))

for test set 0.5575844320890443
for train set 0.598300418748275

In [65]:
# Import necessary libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline


# Initialize the Gradient Boosting Regressor with tuned hyperparameters
gradient_boosting = GradientBoostingRegressor(
    n_estimators=500,  # Number of boosting stages to be run
    learning_rate=0.1,  # Step size shrinkage to prevent overfitting
    max_depth=5,  # Maximum depth of the individual trees
    random_state=42
)

# Create a pipeline with data preprocessing and the Gradient Boosting Regressor
pipeline = Pipeline(steps=[
    ('scaler', StandardScaler()),  # Standardize features by removing the mean and scaling to unit variance
    ('regressor', gradient_boosting)
])

# Fit the model to the training data
pipeline.fit(X_train, y_train)

# Make predictions on the test set
predictions = pipeline.predict(X_test)

# Calculate Mean Squared Error
mse = mean_squared_error(y_test, predictions)
print("Gradient Boosting Mean Squared Error:", mse)

# Calculate R^2 Score
r2 = r2_score(y_test, predictions)
print("Gradient Boosting R^2 Score:", r2)

Gradient Boosting Mean Squared Error: 409052.25099607353
Gradient Boosting R^2 Score: 0.04955098188581075

In [68]:
y_predictions=pipeline.predict(df_final_test)

In [69]:
# Calculate Mean Squared Error and R-squared score
mse = mean_squared_error(y_main, y_predictions)
r2 = r2_score(y_main, y_predictions)

print("Ensemble Mean Squared Error:", mse)
print("Ensemble R^2 Score:", r2)

Ensemble Mean Squared Error: 425622.77309763985
Ensemble R^2 Score: -1976.7287254947257

In [70]:
#score
print("for test set",voting_regressor.score(df_final_test, y_predictions))
print("for train set",voting_regressor.score(X_train, y_train))

for test set 0.5575844320890443
for train set 0.598300418748275

In [62]:
output = pd.DataFrame({'Price':Y_PRED})
output.to_csv('Final_submission1.csv',header=True)